@font-face {
    font-family: Poppins-Black;
    src: url(font/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    height: 100vh;
    background-color: #f5f6f6;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
    font-size: 18px;
}

nav ul li a {
    color: black;
    font-family: Poppins-Black;
    transition: .3s ease all;
}

nav ul li a:hover {
    color: #00cbfc;
}

.log-btn {
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    text-align: center;
    background-color: #00cbfc;
    transition: .3s ease all;
}

.log-btn:hover {
    background-color: black;
}

.nav-bg {
    background-color: white;
    border-radius: 30px;
    height: 7vh;
    display: flex;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}

.main p {
    font-size: 80px;
    color: #00cbfc;
}

.main span {
    font-size: 65px;
}

.main img {
    width: 800px ;
    padding-top: 5%;
    margin: 0 auto;
}

.main button{
    width: 180px;
    padding: 0 40px;
    border-radius: 22px;
    height: 5vh;
    margin: 0 auto;
    margin-top: 2%;
    cursor: pointer;
    transition: .5s ease all;
}

.main button:hover{
    background-color: #00cbfc;
    color: white;
}